[submodule "Dependencies/Spdlog"]
	path = Dependencies/Spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Dependencies/GLM"]
	path = Dependencies/GLM
	url = https://github.com/g-truc/glm.git
[submodule "Dependencies/entt"]
	path = Dependencies/entt
	url = https://github.com/skypjack/entt.git
