[submodule "Dependencies/Spdlog/spdlog-1.8.1"]
	path = Dependencies/spdlog/spdlog-1.8.1
	url = https://github.com/gabime/spdlog.git
[submodule "Dependencies/GLM/glm-0.9.9.9"]
	path = Dependencies/glm/glm-0.9.9.9
	url = https://github.com/g-truc/glm.git
[submodule "Dependencies/entt/entt-3.9.0"]
	path = Dependencies/entt/entt-3.9.0
	url = https://github.com/skypjack/entt.git
[submodule "Dependencies/glfw/glfw-3.3.7"]
	path = Dependencies/glfw/glfw-3.3.7
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable